//Paleta de colores//
$colors: (
    negro: #000,
    blanco: #fff,
    logo: rgb(146, 146, 146),
    fondo: rgb(230, 228, 228),
);

//Funci칩n que devuelve el color//
@function color ($color-name){
    @return map-get($colors, $color-name);
}

//Tama침os fuente//
$font-sizes:(
    xxxxl:15rem,
    xxl:12rem,
    xxm:9.5rem,
    xl:3rem,
    lg:2.5rem,
    md:2rem,
    sm:1.5rem,
    xs:1.4rem,
    xxs:1rem,
    xxxs:0.5rem,
    xxxxs:0.3rem,
    xxxxxs:0.2rem,
    xxxxxxs:0.1rem
);

//Funci칩n que devuelve un tama침o//
@function size($size){
    @return map-get($font-sizes, $size);
}
